<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="https://img.elo7.com.br/product/zoom/1E0EB0A/poster-cartaz-narcos-netflix-poster-tematico.jpg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Exclusivo</ion-card-subtitle>
          <ion-card-title>Narcos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Narcos é a história real dos esforços dos Estados Unidos e Colômbia para combater o temido traficante Pablo Escobar (interpretado pelo ator Wagner Moura, de Tropa de Elite) e o cartel de Medellín, uma das organizações criminosas mais ricas e impiedosas da história.</p>
        </ion-card-content>
      </ion-card>
</ion-content>
